body {
    background:linear-gradient(#389bfd, #001d6f);
    overflow:hidden;
}
#playerContainer {
    display:flex;
    height:100vh;
    opacity:0;
    animation:fade_in 0.4s ease forwards;
}
#art {
	width:300px;
	height:300px;
	background-color:white;
	margin:0 auto;
    background-size:contain;
}
.playerColumn {
	padding:20px;
	width:25%;
    margin-top:100px;
}
.playerColumn h1 {
    margin-top:0;
    font-size:40px;
    letter-spacing:7px;
    color:#1D00AD;
}
#playerControls {
	display:flex;
	justify-content:space-between;
	padding-top:50px;
	width:300px;
	height:50px;
	margin:0 auto;
}
.playerItem {
	width:50px;	
    cursor:pointer;
}
#rw {
    transform:scale(-1);
} 
#songList {
    border-radius:20px 0px;
    color:white;
    width:50%;
}
#buttonBar {
    padding:20px;
}
.button {
    width:50px;
    transition:filter 0.4s ease;
}
.buttonActive {
    filter:sepia(1) saturate(25) hue-rotate(-30deg) invert(1);
}
.buttonContainer {
    transition:transform 0.4s ease;
    display:flex;
    height:50px;
    margin-bottom:30px;
}
.buttonContainer:hover {
    transform:translateX(10px);
    cursor:pointer;
}
.buttonContainer:hover .buttonDesc {
    opacity:1;
    transform:translateX(20px);
}
.buttonDesc {
    opacity:0;
    transition:all 0.4s ease;
    color:white;
    white-space:nowrap;
    line-height:50px;
}
#search_container {
    position:absolute;
    margin-top:100vh;
    transition:margin-top 0.4s ease;
    width:100%;
    height:3000px;
    z-index:99;
    background:linear-gradient(#389bfd, #001d6f, #000000);
    overflow-y:hidden;
    overflow-x:hidden;
}
.search_container_active#search_container {
    margin-top:0vh;
}
#queue {
    text-transform:capitalize;
}
.queueSong {
    background-color:#1D00AD;
    padding:15px;
    border-radius:20px 0px;
    margin-bottom:20px;
    min-height:32px;
    width:75%;
    position:relative;
    transition:border-radius 0.4s ease;
}
.queueSong:hover {
    border-radius:0px 20px;
}
.queueSong:hover .queueDel {
    opacity:1;
}
.queueArtist {
    display:block;
    font-size:12px;
}
.queueDel {
    position:absolute;
    right:0;
    margin-right:25px;
    margin-top:-25px;
    opacity:0;
    transition:all 0.4s ease;
    cursor:pointer;
}
#artLoading {
    width:100%;
    height:100%;
    background-color:#0000008f;
    background-image:url('../assets/waverepeating.svg');
    opacity:0;
    transition:all 0.4s ease;
    animation:artLoadingAnim 5s linear infinite;
    background-size:150%;
    background-repeat-y:no-repeat;
}
.artLoadingActive#artLoading {
    opacity: 1;
}
@keyframes artLoadingAnim {
    from {background-position: 0px 210px;}
    to {background-position: 600% 210px;}
}
@keyframes queueLoad {
    from {transform:scaleX(0);left:-35%;opacity:0;}
    to {transform:scaleX(1);left:0%;opacity:1;}
}
@keyframes queueUnload {
    from {transform:scaleX(1);left:0%;opacity:1;}
    to {transform:scaleX(0);left:35%;opacity:0;}
}
