body {
    background:#389bfd;
    overflow:hidden;
}
#playerContainer {
    display:flex;
    height:100vh;
    opacity:0;
    animation:fade_in 0.4s ease forwards;
}
#art {
	width:300px;
	height:300px;
	background-color:white;
	margin:0 auto;
    background-size:contain;
    transition:transform;
}
#art:hover {
    transform:translateY(10px);
    cursor:pointer;
}
.playerColumn {
	padding:20px;
	width:25%;
    margin-top:100px;
    min-width:300px;
}
.playerColumn h1 {
    font-size:55px;
    letter-spacing:7px;
    margin-top:0px;
    margin-bottom:10px;
    color:#1D00AD;
}
#contentHolder {
    display:flex;
    width:100%;
    justify-content:center;
    margin-left:-100px;
}
#playerControls {
	display:flex;
	justify-content:space-around;
	padding-top:25px;
	width:300px;
	height:50px;
	margin:0 auto;
}
.playerItem {
    cursor:pointer;
    transition:transform 0.4s ease;
    width:30px;
}
.playerItem:hover {
    transform:translateY(-5px);
}
#player {
    border-radius:20px 0px;
    height:fit-content;
    width:300px;
}
#play {
    width:60px;
    height:60px;
}
#songList {
    border-radius:20px 0px;
    color:white;
    width:50%;
}
#buttonBar {
    padding:20px;
}
.button {
    width:50px;
    transition:filter 0.4s ease;
}
.buttonActive {
    filter:sepia(1) saturate(25) hue-rotate(-30deg) invert(1);
}
.buttonContainer {
    transition:transform 0.4s ease;
    display:flex;
    height:50px;
    margin-bottom:30px;
}
.buttonContainer:hover {
    transform:translateX(10px);
    cursor:pointer;
}
.buttonContainer:hover .buttonDesc {
    opacity:1;
    transform:translateX(20px);
}
.buttonDesc {
    opacity:0;
    transition:all 0.4s ease;
    color:white;
    white-space:nowrap;
    line-height:50px;
}
#search_container {
    position:absolute;
    margin-top:100vh;
    transition:margin-top 0.4s ease;
    width:100%;
    min-height:100vh;
    height:100%;
    z-index:99;
    background:#389bfd;
    overflow-y:hidden;
    overflow-x:hidden;
}
.search_container_active#search_container {
    margin-top:0vh;
}
#queue {
    text-transform:capitalize;
}
.queueSong {
    background-color:#0080ff;
    padding:15px;
    border-radius:20px 0px;
    margin-bottom:20px;
    min-height:32px;
    position:relative;
    transition:border-radius 0.4s ease, margin 0.4s ease, background-color 0.4s ease, transform 0.4s ease;
}
.queueSong:hover, .queueSongActive {
    border-radius:0px 20px;
    background-color:#1D00AD;
}
.queueSong:hover .queueDel {
    opacity:1;
}
.queueSongDeleted {
    margin-bottom: -60px;
}
.ui-sortable-helper {
    transform:translateX(30px);
}
.queueArtist {
    display:block;
    font-size:12px;
    text-transform:capitalize;
}
.queueDel {
    position:absolute;
    right:0;
    margin-right:25px;
    margin-top:-25px;
    opacity:0;
    transition:all 0.4s ease;
    cursor:pointer;
}
#artLoading {
    width:100%;
    height:100%;
    background-color:#0000008f;
    background-image:url('../assets/waverepeating.svg');
    opacity:0;
    transition:all 0.4s ease;
    animation:artLoadingAnim 5s linear infinite;
    background-size:150%;
    background-repeat-y:no-repeat;
}
.artLoadingActive#artLoading {
    opacity: 1;
}
#songInfo {
    margin:0 auto;
    font-family:Maddac;
    width:300px;
    letter-spacing:5px;
    text-transform:uppercase;
    font-weight:normal;
    font-size:25px;
	margin-top:15px;
	color:white;
}
#songTitle {
	display:block;
	font-size:35px;
}
#infoContainer {
    height:100vh;
    width:100vw;
    margin-top:-220vh;
    background-color:#242bc3c2;
    transition:margin 0.4s ease;
    position:absolute;
    color:white;
}
#infoContent {
    display:flex;
    justify-content:space-around;
}
#infoContent h1 {
    font-size:70px;
}
#infoContent h2 {
    text-transform:uppercase;
    font-size:40px;
}
.iCColumn {
    width:50%;
}
#content {
    font-size:12px;
    line-height:16px;
}
#infoWave {
    position:absolute;
    width:120vw;
    margin-left:-10vw;
    margin-top:45vh;
}
.cls-1 {
    stroke:#242bc3c2;
}
@keyframes slideUp {
    from {transform:translateY(75px);}
    to {transform:translateY(0px);}
}
@keyframes slideDown {
    from {transform:translateY(-75px);}
    to {transform:translateY(0px);}
}
@keyframes artLoadingAnim {
    from {background-position: 0px 210px;}
    to {background-position: 600% 210px;}
}
@keyframes queueLoad {
    from {transform:scaleX(0);left:-35%;opacity:0;}
    to {transform:scaleX(1);left:0%;opacity:1;}
}
@keyframes queueUnload {
    from {transform:scaleX(1);left:0%;opacity:1;}
    to {transform:scaleX(0);left:35%;opacity:0;}
}
