#searchBack {
    width:50px;
    top:25px;
    position:absolute;
    left:25px;
    transition:left 0.4s ease;
}
#searchBack:hover {
    left:35px;
    cursor:pointer;
}
#form_title {
	width:600px;
	margin:0 auto;
	margin-top:100px;
	font-size:60px;
    margin-bottom:-15px;
    color:#1D00AD;
    opacity:0;
    animation:fade_in 0.4s 0.5s ease forwards;
}
#form_container {
	width:600px;
	margin:0 auto;
    opacity:0;
    animation:fade_in 0.4s ease 0.5s forwards;
    color:white;
}
#form_container label {
	font-size:30px;
	font-family:Rubik;
	font-weight:700;
    color:#1D00AD;
}
#form_container p {
    margin-bottom:25px;
}
#form_container input[type=text],#form_container input[type=password]  {
	padding:25px;
	border-radius:20px 0px;
	display:block;
	margin-bottom:50px;
    border:none;
    width:100%;
    background-color:#1D00AD;
    color:white;
    transition:border-radius 0.4s ease;
}
#form_container input[type=text]:hover,#form_container input[type=password]:hover   {
    border-radius:0px 20px;
}
#server_prefix {
    opacity:0;
    transition:opacity 0.4s ease;
}
#form_container #smtp_server{
    transition:background-color 0.4s ease;
    width:auto;
    display:inline;
    background:none;
    margin-bottom:5px;
    padding:10px;
    font-size:15px;
    border-radius:10px 0px;
}
#form_container #smtp_server:hover {
    background-color:#1d00ad36; 
}
#submit {
    margin: 0 auto;
    padding:20px;
    border-radius:20px 0px;
    background-color:#1D00AD;
    font-family:Rubik;
    color:white;
    width:100px;
    margin-bottom:20px;
    font-size:25px;
    font-weight:bold;
    transition:border-radius 0.4s ease;
}
#submit:hover {
    cursor:pointer;
    border-radius:0px 20px;
}
