body {
    margin:0;
}
#homeBody {
    overflow:hidden;
    height:100vh;
}
#logo_container {
    width:1000px;
    margin:0 auto;
    position:relative;
    top:50%;
    transform:translateY(-50%);
    animation: logo_shrink 0.4s ease 1.3s forwards;
}
#logoBase {
    animation:logo_reveal 0.4s ease 0.5s forwards;
    transform:scaleX(0);
}
#logo {
    animation:logo_left 0.4s ease 1.7s forwards;
}
#logo object {
    position:absolute;
}
#paths {
    margin-left:35px;
    margin-top:5px;
    position:absolute;
}
#wordmark{
    position:relative;
    animation:fade_in 0.4s ease 1.9s forwards;
    opacity:0;
}
#wave {
    width:270vw;
    margin-top:-50px;
    position:absolute;
    margin-left:-100vw;
}
#wave path {
    animation:wave 62.4s ease infinite;
}
#wave .cls-1 {
    stroke:#389bfd;
}
#button_container {
    transition:margin-top 0.5s ease;
}
#logo_container {
    transition:opacity 0.4s ease;
}
.search_active_b {
    margin-top:-800px;
}
.search_active_l {
    opacity:0;
}
#homepage_buttons {
    display:flex;
    width:65%;
    height:50px;
    margin:0 auto;
    top:-150px;
    position:relative;
    justify-content:space-around;
    opacity:0;
    animation:fade_in 0.4s ease 2s forwards;
}
.homepage_button {
   animation:bubble_move 20s ease infinite, blorb_in 0.4s ease forwards; 
   background-color:#389bfd;
   width:100px;
   height:100px;
   text-align:center;
   cursor:pointer;
   border-radius:100px;
   transition:padding 0.4s ease;
}
.homepage_button:hover {
   animation:bubble_move 20s ease infinite,blorb_out 0.4s ease forwards; 
   transition:padding 0.4s ease;
}
#search {
   animation:bubble_move 15s ease 10s infinite, blorb_in 0.4s ease forwards; 
}
#search:hover {
   animation:bubble_move 15s ease 10s infinite, blorb_out 0.4s ease forwards; 
}
#search_container {
    background:linear-gradient(#389bfd, #001d6f, #000000);
    height:3000px;
    position:absolute;
    width:100%;
    top:100%;
    transition:top 0.5s ease;
    overflow:auto;
}
.search_active_sc#search_container {
    top:0%;
}
@keyframes logo_reveal {
    from{transform:scaleX(0);margin-left:-100px;margin-top:-25px;}
    to{transform:scaleX(1);margin-left:0px;margin-top:0px;}
}
@keyframes logo_shrink {
    from {transform:scale(1) translateY(-50%);top:50%;}
    to {transform:scale(0.5) translateY(-50%);top:-5%;}
}
@keyframes logo_left {
    from {margin-left:0px;}
    to {margin-left:-285px;}
}
@keyframes bubble_move {
    0% {transform:translate(0);}
    25% {transform:translate(-10px, -10px);}
    50% {transform:translate(0px, -10px);}
    75% {transform:translate(10px, 10px);}
    100% {transform:translate(0);}
}
@keyframes blorb_out {
    0% {padding:0px;}
    95% {padding:20px;}
    100% {padding:19px;}
}

@keyframes blorb_in {
    0% {padding:19px;}
    5% {padding:20px;}
    100% {padding:0px;}
}
@keyframes wave {
    0% {d: path("M94,136.24s330.74,281.35,1025.74,113.2c682-165,1090.14,107.44,1090.14,107.44");}
    50% {d: path("M94,356.88S502.14,84.44,1184.14,249.44c695,168.15,1025.74-113.2,1025.74-113.2");}
    100% {d: path("M94,136.24s330.74,281.35,1025.74,113.2c682-165,1090.14,107.44,1090.14,107.44");}
}
