body {
    margin:0;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight:bold;
    letter-spacing:2px;
    user-select:none;
}
a {
    text-decoration:none;
}
p {
    font-family: 'Archivo Narrow', sans-serif;
    letter-spacing:2px;
}
h1 {
    font-family:'Maddac';
    font-weight:normal;
}
h2 {
    font-family:'Maddac';
    font-weight:normal;
}
h3 {
    font-family:'Maddac';
    font-weight:normal;
}
h4 {
    font-family: 'Archivo Narrow', sans-serif;
}
h5 {
    font-family: 'Archivo Narrow', sans-serif;
}
::-webkit-scrollbar {
    width:10px;
}
::-webkit-scrollbar-track {
    background:#0080ff;
    border-radius:50px;
}
::-webkit-scrollbar-thumb {
    background:#1D00AD;
    border-radius:50px;
    width:200px;
}
@keyframes fade_in {
    from{opacity:0;}
    to {opacity:1;}
}
@keyframes fade_out {
    from{opacity:1;}
    to {opacity:0;}
}
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:700');
@font-face {
    font-family: Maddac;
    src: url('assets/Maddac.ttf') format('truetype'),
    	 url('assets/Maddac.woff') format('woff');
}
